[Unit]
Description=Starting photobooth rails app

[Service]
ExecStartPre=/bin/rm -f /root/photobooth/tmp/pids/server.pid
ExecStart=/root/photobooth/bin/rails s -b 0.0.0.0 -e production -p 80

[Install]
WantedBy=multi-user.target
