%button{ 'ng-click' => 'takePicture()'}
  Take picture
  %button{ 'ng-click' => 'update()'}
    Update

  .picture-sets
    %span{ 'ng-repeat' => 'picture_set in picture_sets'}
      %a{href: '{{picture_set.path}}'}
        %img{'ng-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
