%div{'ng-controller'=>"AlertCtrl"}
  %script{'type'=>"text/ng-template", 'id'=>"alert.html"}
    %div.alert{'style'=>"background-color:#fa39c3;color:white", 'role'=>"alert"}
      %div{'ng-transclude'=>'true'}


  -#%uib-alert{'ng-repeat'=>"alert in alerts", 'type'=>"{{alert.type}}", 'close'=>"closeAlert($index)"}
  -#  {{alert.msg}}
  -#%uib-alert{'template-url'=>"alert.html"}
  -#  A happy alert!
  -#%button{'type'=>"button", 'class'=>'btn btn-default', 'ng-click'=>"addAlert()"}
  -#  Add Alert


%div{'ng-controller'=>'MainCtrl'}
  %button.btn.btn-default{ 'ng-click' => 'takePicture()'}
    Take picture
  %button.btn.btn-default{ 'ng-click' => 'update()'}
    Update


  .picture-sets.text-center
    %span{ 'ng-repeat' => 'picture_set in picture_sets'}
      %a{href: '{{picture_set.path}}'}
        %img{'ng-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
