%div{'ng-controller'=>'MainCtrl'}
  %button.btn.btn-default{ 'ng-click' => 'takePicture()'}
    Take picture
  %button.btn.btn-default{ 'ng-click' => 'update()'}
    Update


  .picture-sets.text-center
    %span{ 'ng-repeat' => 'picture_set in picture_sets'}
      %a{href: '{{picture_set.path}}'}
        %img{'ng-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
