%div{'ng-controller'=>"MainCtrl"}

  %script{'type'=>"text/ng-template", 'id'=>"alert.html"}
    %div.alert{'style'=>"background-color:#fa39c3;color:white", 'role'=>"alert"}
      %div{'ng-transclude'=>'true'}

  %uib-alert{'ng-repeat'=>"alert in alerts", 'type'=>"{{alert.type}}", 'close'=>"closeAlert($index)"}
    {{alert.msg}}


  -#%button.btn.btn-default.btn-xl{ 'ng-click' => 'takePicture()'}
  -#  Take picture
  -#%button.btn.btn-default{ 'ng-click' => 'update()'}
  -#  Update


  %script{'type'=>"text/ng-template", 'id'=>"picture_shoot.html"}
    %div.modal-header
      %h3.modal-title
        Taking pictures
    %div.modal-body
      Please wait, taking 4 pictures
    %div.modal-footer


  .picture-sets.text-center
    = image_tag 'take_picture.png', {'ng-click' => 'takePicture()'}
    %span{ 'ng-repeat' => 'picture_set in picture_sets'}
      %a{href: '{{picture_set.path}}'}
        %img{'ng-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
