.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    background-color: #000;
    color: #fff;
    margin:0px;
    padding:0px;
    height: 100%;
}

.modal-dialog {
    color: #000;
}

.modal-lg {
    width: 95%;
}

.countdown-img {
    width: 210px;
    padding: 10px;
}

.shoot_button {
    width: 430px;
    margin: 10px 20px 10px 20px;
}

.shoot_img {
    height: 200px;
    margin: 0px 70px 0px 70px;
}

.shoot_img_btn {
    height: 30px;
    margin: 0px 10px 0px 0px;
}

.gallery-img {
    width: 470px;
}

.fullscreen {
    position: fixed;
    top: -40%;
    left: -40%;
    width: 180%;
    height: 180%;
}

.fullscreen img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 40%;
    min-height: 40%;
}

#button-start {
    position: absolute;
    top: 3px;
    left: 3px;
}

#button-all {
    position: absolute;
    top: 3px;
    right: 3px;
}

#button-last {
    position: absolute;
    top: 45%;
    left: 3px;
}

#button-next {
    position: absolute;
    top: 45%;
    right: 3px;
}

#button-delete {
    position: absolute;
    right: 3px;
    bottom: 3px;
}