.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

body {
    background-color: #000;
    color: #fff;
    margin:0px;
    padding:0px;
    height: 100%;
}

.modal-dialog {
    color: #000;
}

.modal-lg {
    width: 95%;
}

.countdown-img {
    width: 210px;
    padding: 10px;
}

.shoot_button {
    width: 430px;
    max-width: 90%;
    margin: 5px 10px;
}

.shoot_text {
    font-size: 1.3em;
}

.shoot_img {
    max-width: 65%;
}

.shoot_img_btn {
    height: 20px;
    margin: 0px 10px 0px 0px;
}

.gallery-img {
    width: 470px;
    max-width: 95%;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: -5%;
    width: 110%;
}

.fullscreen img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 95%;
    z-index: -10;
}

.shoot_button:hover, .shoot_button:active {
  background-color: #fff;
}

#button-start {
  position: absolute;
}

#button-start .btn {
    margin: 5px 0px 0px 5px;
    z-index: 10;
}

#button-last {
    position: absolute;
    top: 45%;
    left: 3px;
}

#button-next {
    position: absolute;
    top: 45%;
    right: 3px;
}

#button-delete {
    position: absolute;
    right: 3px;
    bottom: 3px;
}
