%div{ 'style' => "text-align: center; color: #{OPTS.font_color};" }
  %h1
    Kind regards from
    = OPTS.image_caption
  %p
    We hope you also had an amazing time. Four of these unforgettable memories are attached to this email.
  %p
    Have fun!
  %p
    = image_tag attachments['animation.gif'].url
  - if attachments.inline['combined.jpg']
    %p
      = image_tag attachments['combined.jpg'].url
