.fullscreen
  %img{'ng-src'=>'/{{picture_set.path}}/{{picture_set.animation}}'}

#button-start
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/" }
    %span
      = image_tag 'take_picture.png', {:class => 'shoot_img_btn'}
    %b Start

#button-next
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/picture_set/{{picture_set.next.date}}" }
    %b > Next

#button-last
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/picture_set/{{picture_set.last.date}}" }
    %b Last <

#button-all
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/picture_set/{{picture_set.date}}/email" }
    %b Send per email
  %br
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/picture_set/{{picture_set.date}}/gallery" }
    %b Single pictures

#button-delete{ 'ng-hide' => 'rw' }
  %button.btn.btn-default.btn-sm{ 'ng-click' => 'destroy()'}
    Delete this set
