.fullscreen
  %img{'ng-src'=>'/{{picture_set.path}}/{{picture_set.animation}}'}

#pictureset-buttons
  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/" }
    Start

  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/" }
    Next

  %a.btn.btn-default.btn-lg{ 'ng-href' => "#/" }
    Last

  %button.btn.btn-default.btn-lg{ 'ng-click' => 'destroy()'}
    Delete this set
