.picture-sets.text-center
  = image_tag 'take_picture.png', {'ng-click' => 'takePicture()'}

  %span{ 'ng-repeat' => 'picture_set in picture_sets'}
    %a{href: '#/picture_set/{{picture_set.date}}'}
      %img.lazyload{'data-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
