.container.mail-container
  .row
    .col-sm-12
      %h2.text-center
        Get your picture send to you immediately:
  .row
    .col-sm-10
      %form.center-block
        .form-group
          %input.input-lg.form-control#email{ 'ng-model' => 'emailFormData.email', 'type' => 'email', 'placeholder' => 'Email', 'size' => '20' }
    .col-sm-2
      %a.btn.btn-default.btn-lg{ 'ng-click' => "send_email()" }
        %b Send email
  .row
    .col-sm-12
      %img.img-responsive.center-block{'ng-src'=>'/{{picture_set.path}}/{{picture_set.animation}}'}

  .row.text-center
    %a.btn.btn-default.btn-lg{ 'ng-href' => "#!/picture_set/{{picture_set.date}}" }
      %b Back
