.picture-sets.text-center

  %button.btn.btn-default.shoot_button{type: 'button', 'ng-click' => 'takePicture()' }
    %span
      = image_tag 'take_picture.png', {:class => 'shoot_img'}
    %h2
      Click here to take a picture

  %span{ 'ng-repeat' => 'picture_set in picture_sets'}
    %a{href: '#/picture_set/{{picture_set.date}}'}
      %img.gallery-img.lazyload{'data-src' => '{{picture_set.path}}/{{picture_set.animation}}'}
