%div{'ng-controller'=>"PictureSetCtrl"}

  - @picture_set[:pictures].each do |picture|
    = link_to image_tag('/' + @picture_set[:path] + '/' + picture[:polaroid]), image_url('/' + @picture_set[:path] + '/' + picture[:full])

  -#%button.btn.btn-default{ 'ng-click' => 'destroy()'}
  -#  Delete this set
