.picture-sets.text-center

  %button.btn.btn-default.shoot_button{type: 'button', 'ng-click' => 'takePicture()', 'ng-hide' => 'rw'  }
    %span
      = image_tag 'take_picture_animation.gif', {:class => 'shoot_img'}
    .shoot_text
      Click here to take a picture

  %span{ 'ng-repeat' => 'picture_set in picture_sets'}
    %a{href: '#!/picture_set/{{picture_set.date}}'.html_safe}
      %img.gallery-img.lazyload{'data-src' => '{{picture_set.path}}/{{picture_set.animation}}'}

  %h3
    %a{href: 'https://github.com/digitaltom/photobooth'}
      github.com/digitaltom/photobooth
